<html>
<head></head>
<body>
    <h1>Add Trip</h1>

    <form method = "POST" action = "/add-trip">
        <span>Destination</span>
        <input 
            type = "text" 
            placeholder = "Enter Destination"
            name = "tripTitle" />
        <span>Date Of Departure</span>
        <input
            type = "text"
            placeholder = "MM/DD/YYYY"
            name = "tripDateOfDeparture" />
        <span>Date Of Return</span>
        <input
            type = "text"
            placeholder = "MM/DD/YYYY"
            name = "tripDateOfReturn" />
        <button>Save</button>
    </form>
</body>
</html>