<html>
<head></head>
<body>
    <h1>Trips</h1>

    <ul>
        {{#allTrips}}

        <li>
            {{title}} - {{image}} - {{dateOfDeparture}} - {{dateOfReturn}}
        </li>

        {{/allTrips}}
    </ul>
</body>
</html>