<html>
<head></head>
<body>
    <h1>Trips</h1>

    <ul>
        {{#allTrips}}

        <li>
            <form method = "POST" action = "/delete-trip">
                {{title}} - {{image}} - {{dateOfDeparture}} - {{dateOfReturn}}
                <input type = "hidden" value = {{id}} name = "tripId" />
                <button>Remove Trip</button>
            </form>
        </li>

        {{/allTrips}}
    </ul>
</body>
</html>