<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <h1>Trips</h1>
            <button><a href="../user">Account</a></button>
            <form 
                method="POST" 
                action="/user/signout">
                <button>Sign Out</button>
            </form>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h2>Add Trip</h2>
                <form 
                    method = "POST" 
                    action = "/trips/add-trip">
                    <span>Destination</span>
                    <input 
                        type = "text" 
                        placeholder = "Enter Destination"
                        name = "tripTitle" />
                    <span>Date Of Departure</span>
                    <input
                        type = "text"
                        placeholder = "MM/DD/YYYY"
                        name = "tripDateOfDeparture" />
                    <span>Date Of Return</span>
                    <input
                        type = "text"
                        placeholder = "MM/DD/YYYY"
                        name = "tripDateOfReturn" />
                    <button>Save</button>
                </form>
            </div>
        </section>
        <section>
            <div>
                <h2>View Trips</h2>
                {{#allTrips}}
                <form 
                    method = "POST" 
                    action = "/trips/delete-trip">
                    {{title}} - {{image}} - {{dateOfDeparture}} - {{dateOfReturn}}
                    <input 
                        type = "hidden" 
                        value = {{id}} 
                        name = "tripId" />
                    <button>Remove Trip</button>
                </form>
                {{/allTrips}}
            </div>
        </section>
    </main>
</body>
</html>