<html>
    <head></head>
    <body>
        <h1>Welcome to your page! {{username}}</h1>
        <form method="POST" action="/user/signout">
            <button>Sign Out</button>
        </form>
        <h3><a href="../trips">View your trips</a></h3>
    </body>
</html>