<html>
    <head></head>
    <body>
        <h1>Movies Website Assignment</h1>
        <ul>
        {{#movies}}
            <li>
                <div>
                <span>{{name}}</span>
                <img src = "{{posterUrl}}" />
                </div>
            </li>
        {{/movies}}
        </ul>
    </body>
</html>